.jumbotron {
	background-image: url(../assets/images/logo.png);
	background-size: cover;
}

form, table {
	width: 100%;
}

tr, td {
	text-align: center;
}


/* ==========================================================================
Blog
========================================================================== */
.blogtitle {
	background: #c52d2f;
	padding: 20px 0; 
	margin-bottom: 20px; 
	text-transform: uppercase;
}


table img {
	width: 30px;
}